<div>
            <h2>Contacto rápido</h2>
            <form action="" method="" class="formulario">
            <p>
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre">
            </p>
            <p>
                <label for="email">Email</label>
                <input type="text" name="email">
            </p>
            <p>
                <label for="telefono">Télefono</label>
                <input type="text" name="tel">
            </p>
            <p>
                <label for="mensaje">Mensaje</label>
                <textarea name="comentarios" id="#"></textarea>
            </p>
            <p>
                <input type="submit" value="enviar">
            </p>
         
            </form>
            <p>{{message}}</p>
           
        </div>       
        <div class="datos">
            <h2>Otras vias de contacto</h2>
            <p>También puede contactarse con nosotros usando los siguientes
                 medios</p>
               <ul>
                   <li>Telefono:12345-6987</li>
                   <li>Email:contacto@transportes.com.ar</li>
                   <li>Facebook:facebook.com/transportesX</li>
                   <li>Twitter:@transportesX</li>
                   <li>Skype:transportes_skype</li>
                </ul>

        </div> 
