<h2>Galeria</h2>
        
        <div class="imagenes">
            <img src="images/galeria/ch/img01.jpg" alt="camion1">
            
             <img src="images/galeria/ch/img02.jpg" alt="camion2">
            
            <img src="images/galeria/ch/img03.jpg" alt="camion3">
             
            <img src="images/galeria/ch/img04.jpg" alt="barco4">
        
            <img src="images/galeria/ch/img05.jpg" alt="crucero5">
        
            <img src="images/galeria/ch/img06.jpg" alt="tren6">
            
            <img src="images/galeria/ch/img07.jpg" alt="tren7">
            
            <img src="images/galeria/ch/img01.jpg" alt="camion8">
            
            <img src="images/galeria/ch/img02.jpg" alt="camion9">
            
            <img src="images/galeria/ch/img03.jpg" alt="camion10">
        </div>        