<section class="historia">
            <h2>Historia</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to
            make a type specimen book. It has survived not only five centuries,
            standard dummy text ever since the 1500s</p>
            <p>It is a long established fact that a reader will be distracted by the readable
            content of a page when looking at its layout. The point of using Lorem Ipsum 
            is that it has a more-or-less normal distribution of letters, as opposed.</p>   

        </section>
        <section class="staff">
            <h2>staff</h2>
            <div class=personas>
                <div class="persona">
                    <img src="images/nosotros/nosotros1.jpg" alt="Juan Gomez">
                    <h5>Juan Gomez</h5>
                    <h6>Gerente General</h6>
                    <p>It is a long established fact that a reader will be distracted by the readable
                    content of a page when looking at its layout. The point of using Lorem Ipsum 
                    is that it has a more-or-less normal distribution of letters, as opposed.</p> 
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros2.jpg" alt="Diana Reyes">
                    <h5>Diana Reyes</h5>
                    <h6>Gerente Comercial</h6>
                    <p>It is a long established fact that a reader will be distracted by the readable
                    content of a page when looking at its layout. The point of using Lorem Ipsum 
                    is that it has a more-or-less normal distribution of letters, as opposed.</p> 
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros3.jpg" alt="Roberto Zavala">
                    <h5>Roberto Zavala</h5>
                    <h6>Gerente de Sistemas</h6>
                    <p>It is a long established fact that a reader will be distracted by the readable
                    content of a page when looking at its layout. The point of using Lorem Ipsum 
                    is that it has a more-or-less normal distribution of letters, as opposed.</p> 
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros4.jpg" alt="Sandra Matroloio">
                    <h5>Sandra Matroloio</h5>
                    <h6>Gerente de Marketing</h6>
                    <p>It is a long established fact that a reader will be distracted by the readable
                    content of a page when looking at its layout. The point of using Lorem Ipsum 
                    is that it has a more-or-less normal distribution of letters, as opposed.</p> 
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros5.jpg" alt="Luciano Gomez">
                    <h5>Luciano Gomez</h5>
                    <h6>Gerente de Logística</h6>
                    <p>It is a long established fact that a reader will be distracted by the readable
                    content of a page when looking at its layout. The point of using Lorem Ipsum 
                    is that it has a more-or-less normal distribution of letters, as opposed.</p> 
                </div>





            </div>

        </section>