<h2>Novedades</h2>
        
        <div>
            <h3>Título</h3>
            <h4>Subtitulo</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ullam recusandae repellendus,
            eligendi beatae culpa voluptas suscipit rem, laborum consectetur, quas deleniti et at eveniet
            sunt perspiciatis facere dolore odio!</p>
            <hr/>
            
        </div>     
        <div>
            <h3>Título</h3>
            <h4>Subtitulo</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ullam recusandae repellendus,
            eligendi beatae culpa voluptas suscipit rem, laborum consectetur, quas deleniti et at eveniet
            sunt perspiciatis facere dolore odio!</p>
            <hr/>
            
        </div>  
        <div>
            <h3>Título</h3>
            <h4>Subtitulo</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ullam recusandae repellendus,
            eligendi beatae culpa voluptas suscipit rem, laborum consectetur, quas deleniti et at eveniet
            sunt perspiciatis facere dolore odio!</p>
            <hr/>
            
        </div>        